@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    overflow: hidden;
    font-family: 'Martian Mono', monospace;
}

:root {
    color: white;
}
  
:focus {
    outline: none;
}

body {
    background-color: #171717;
}

.el-select__placeholder {
    position: relative;
    transform: none;
}