@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Martian Mono', monospace;
}

:focus {
    outline: none !important;
}

body {
    overflow: hidden;
    width: 100% !important;
    background-color: #171717;
}

span.el-text {
    white-space: pre-wrap;
}

.el-select__placeholder {
    position: relative;
    transform: none;
}

.el-overlay-message-box {
    padding: 0 !important;
    overflow: hidden !important;
}

.el-overlay-message-box[aria-label="Response"] > .el-message-box {
    max-width: 1000px;
}

.p-splitter {
    height: 100vh;
    background-color: #171717;
}

.p-splitter-gutter,
.p-splitter-gutter-handle {
    width: 2px;
    background-color: #232323;
    cursor: e-resize;
}

.el-textarea__inner {
    height: 70vh;
}

.el-form-item__content {
    justify-content: center;
}

.el-message-box__container {
    display: block;
}

.el-date-editor {
    width: 100% !important;
}

.el-tabs__nav-wrap::after {
    height: 1px;
}

.el-tabs--left .el-tabs__nav-wrap.is-left {
    margin-right: 0;
}

.pl-2 > .el-tabs__content, .pr-2 > .el-tabs__content {
    overflow-y: auto;
    height: 80vh;
}

.is-left {
    max-height: 90vh;
}

.el-tabs__nav-scroll {
    overflow-y: auto;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background: #171717;
}

::-webkit-scrollbar-thumb {
    background: #232323;
    border: 5px solid;
    border-color: #171717;
    border-radius: 10px;
}